@font-face{
  font-family: 'Geometria';
  font-weight: 400;
  font-style: normal;
  src: local('Geometria-Regular'),
       url('../fonts/Geometria-Regular.woff2') format("woff2"),
       url('../fonts/Geometria-Regular.woff') format("woff");
  font-display: swap;
}

@font-face{
  font-family: 'Geometria';
  font-weight: 500;
  font-style: normal;
  src: local('Geometria-Medium'),
       url('../fonts/Geometria-Medium.woff2') format("woff2"),
       url('../fonts/Geometria-Medium.woff') format("woff");
  font-display: swap;
}

@font-face{
  font-family: 'Geometria';
  font-weight: 300;
  font-style: normal;
  src: local('Geometria-Light'),
       url('../fonts/Geometria-Light.woff2') format("woff2"),
       url('../fonts/Geometria-Light.woff') format("woff");
  font-display: swap;
}

@font-face{
  font-family: 'Geometria';
  font-weight: 700;
  font-style: normal;
  src: local('Geometria-Bold'),
       url('../fonts/Geometria-Bold.woff2') format("woff2"),
       url('../fonts/Geometria-Bold.woff') format("woff");
  font-display: swap;
}

@font-face{
  font-family: 'Geometria';
  font-weight: 800;
  font-style: normal;
  src: local('Geometria-ExtraBold'),
       url('../fonts/Geometria-ExtraBold.woff2') format("woff2"),
       url('../fonts/Geometria-ExtraBold.woff') format("woff");
  font-display: swap;
}

@font-face{
  font-family: 'Geometria';
  font-weight: 900;
  font-style: normal;
  src: local('Geometria-Heavy'),
       url('../fonts/Geometria-Heavy.woff2') format("woff2"),
       url('../fonts/Geometria-Heavy.woff') format("woff");
  font-display: swap;
}



