%geometria-300{
  font-family: 'Geometria', sans-serif;
  font-weight: 300;
  font-style: normal;
}

%geometria-400{
  font-family: 'Geometria', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%geometria-500{
  font-family: 'Geometria', sans-serif;
  font-weight: 500;
  font-style: normal;
}

%geometria-700{
  font-family: 'Geometria', sans-serif;
  font-weight: 700;
  font-style: normal;
}

%geometria-800{
  font-family: 'Geometria', sans-serif;
  font-weight: 800;
  font-style: normal;
}

%geometria-900{
  font-family: 'Geometria', sans-serif;
  font-weight: 900;
  font-style: normal;
}